*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 15px;
    display: flex;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.wrapper{
    width: 95%;
    display: flex;
    height: 500px;
    max-width: 800px;
}

.wrapper .car{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 2em;
    position: relative;
}

.wrapper .one{
    background-color: hsl(31, 77%, 52%);
    color: hsl(31, 77%, 52%);
    border-radius: 5px 0 0 5px;
}

.wrapper .two{
    background-color: hsl(184, 100%, 22%);
    color: hsl(184, 100%, 22%);
}

.wrapper .three{
    background-color: hsl(179, 100%, 13%);
    color: hsl(179, 100%, 13%);
    border-radius: 0 5px 5px 0;
}


.wrapper .car .icon{
    height: 30px;
    width: 50px;
}

.wrapper .car .carname{
    text-transform: uppercase;
    font-family: 'Big Shoulders Display',sans-serif;
    font-size: 30px;
    color: hsl(0, 0%, 95%);
    font-stretch: ultra-condensed; 
}

.wrapper .car .description{
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.5;
    flex: 5;
}

.wrapper .car .learnmore{
    align-self: flex-start;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    padding: 10px;
    text-transform: capitalize;
    color: inherit;
    font-weight: 500;
    font-size: 15px;
    background-color: hsl(0, 0%, 95%);
}

.wrapper .car .learnmore:hover{
    background-color: inherit;
    color: hsl(0, 0%, 95%);
    border: 2px solid;
    cursor: pointer;
}

@media (max-width: 550px){
    .wrapper{
        flex-direction: column;
        height: 90%;
        width: 80%;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .wrapper .one{
        border-radius: 5px 5px 0 0;
    }

    .wrapper .three{
        border-radius: 0 0 5px 5px;
    }
}

