*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blanchedalmond;
    gap: 1em;
    margin: 0 auto;
    flex-wrap: wrap;
}

.solution{
    display: flex;
    max-width: 450px;
    min-width: 200px;
    background-color: #FFFFFF;
    flex-direction: column;
    gap: 1em;
    border-radius: 75px;
    min-height: 150px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #860909;
    text-align: center
   
}
.solution a{
    font-weight: 400;
    
}

.solution a:hover{
    transform: scale(1.2);
}


@media (max-width: 650px){
    .container{
        flex-direction: column;
    }
    .solution{
        width: 90vw;
        font-size: 10px;
        letter-spacing: 1px;
    }
}


