*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: blanchedalmond;
    gap: 1em;
    margin: 0 auto;
}

.solution{
    display: flex;
    width: 500px;
    max-width: 450px;
    min-width: 200px;
    background-color: #FFFFFF;
    flex-direction: column;
    gap: 1em;
    border-radius: 50px;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    color: #860909;
}

.solution a{
    font-weight: 400;
    
}

.solution a:hover{
    transform: scale(1.2);
}

@media (max-width: 450px){

    .solution{
        width: 90vw;
        font-size: 10px;
        letter-spacing: 1px;
    }
}


