*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.solution{
    width: 400px;
    background-color: aquamarine;
    color: white;
   display: flex;
    border-radius: 50px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 1em;

}

.solution a{
    font-size: 15px;
    cursor: pointer;
    
}

.solution p{
    font-size: 20px;
    color: black;
}

