:root{
    --clr-background: hsl(36, 100%, 99%);
    --clr-dark-blue: hsl(240, 100%, 5%);
    --clr-primary-text:  hsl(236, 13%, 42%);
    --clr-secondary-text:  hsl(233, 8%, 79%);
    --clr-hover1 : hsl(35, 77%, 62%);
    --clr-hover2:  hsl(5, 85%, 63%);
    --ff-primary: 'Inter', sans-serif;
    --fw-normal: 400;
    --fw-bold: 700;
    --fw-extrabold: 800;
    --fs-normal: 1rem;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,svg{
    display: block;
    max-width: 100%;

}

button{
    font-family: inherit;
    font-size: inherit;
}

body{
    font-family: var(--ff-primary);
    font-size: var(--fs-normal);
    min-height: 100vh;
    background-color: var(--clr-background);
    position: relative;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.overlay[data-overlay="true"]{
    background-color: hsla(236, 13%, 42%,0.2);
    width: 100vw;
    height: 100vh;
   
}

.container{
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;

}

.header{
    margin-block: 1rem;
    justify-content: space-between;
    align-items: center;
    
}

.header .menu{
    z-index: 999;
    width: 2rem;
    aspect-ratio: 1;
    background: url("assets/images/icon-menu.svg") no-repeat center center;
    border: none;
    
   
}

.header .menu:hover{
    cursor: pointer;
}

.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    clip: rect(0,0,0,0);
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    margin: -1px;
}

.flex{
    display: flex;
}

.flex-col{
    display: flex;
    flex-direction: column;
}


.navbar{
    display: flex;
    align-items: center;
    position: fixed;
    background-color: var(--clr-background);
    inset: 0 0 0 50%;
    z-index: 100;
    transform: translateX(100%);
    transition: transform 500ms;
}

.navbar[aria-expanded="true"]{
    transform: translateX(0%);
    transition: transform 500ms;
}

.navigation{
    flex-direction: column;
    list-style-type: none;
    --gap: 1rem;
    gap: var(--gap);
    font-size: clamp(0.8rem, 2vw, 1rem);
    padding-inline-start: 1em;
}

.navigation a{
    text-decoration: none;
    color: var(--clr-dark-blue);
    font-weight: var(--fw-normal);
}

.navigation a:hover{
    color: var(--clr-hover2);
}

.main-content{
    display: grid;
    gap: 1rem;
}



 h1{
    font-size: 2.5rem;
    font-weight: var(--fw-extrabold);
}

.news{
    gap: 1rem;
    justify-content: space-between;
}

.text{
    font-size: 0.8rem;
    color: var(--clr-primary-text);
    line-height: 1.5;
}

.news .readmore{
    background-color: var(--clr-hover2);
    color: var(--clr-background);
    text-transform: uppercase;
    padding: 0.8em;
    width: min(50%,10rem);
    border: none;
    font-size: 0.8rem;
    letter-spacing: 2px;
    font-weight: var(--fw-normal);
}

.news .readmore:hover{
    background-color: var(--clr-dark-blue) ;
    color: var(--clr-background);
}

.aside{
    margin-block: 1em;
    padding: 1em;
    background-color: var(--clr-dark-blue);
    color: var(--clr-background);
    gap: 1rem;
   
}

.aside h2{
    flex: 0;
}
.aside > *{
    flex: 1;
}


.aside h2{
     color:var(--clr-hover1);
}

h3:hover{
    color: var(--clr-hover1);
}
.aside .shorts{
    gap: 0.5rem;
    padding-block-end: 1em;
    border-bottom: 0.5px solid var(--clr-secondary-text);
}

.aside .shorts .text{
    color: var(--clr-secondary-text);
}

.secondary-main{
    display: grid;
    gap: 1.5rem;
    margin-block-end: 3rem;
}

.article{
    gap: 1rem;
    width: 100%;
   
    
}

h4:hover{
    color: var(--clr-hover2);
}

.article .img{
    flex: 1;
}

.article .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article .content{
    gap: 0.5rem;
    flex: 2;
    justify-content: space-between;
}

.article .content p{
    font-size: clamp(0.5rem, 4vw, 1.5rem);
}




.article .content span{
    font-size: clamp(2rem, 4vw, 3.5rem);
    color: var(--clr-secondary-text);
    font-weight: var(--fw-bold);
   
}

.article .content h4{
    font-weight: var(--fw-extrabold);
    font-size: clamp(1rem, 4vw, 3.5rem);
   
}



@media (min-width: 35em) {
    .header .menu{
        display: none;
    }

    .navbar{
        position: static;
        transform: none;
    }

    .navigation{
        flex-direction: row;
        --gap: 2rem;
    }
}

@media (min-width: 55em){
    .container{
        width: 80%;
    }
    .main-content{
        grid-template-areas: 
        "picture picture aside"
        "heading news aside"
        "content1 content2 content3";
        grid-template-rows: 1fr 0.5fr 0.5fr;
    }

    picture {
        grid-area: picture;
    }

    picture img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .aside{
        grid-area: aside;
        margin-block: 0;
    }

    h1{
        grid-area: heading;
        font-size: clamp(2.5rem, 3vw, 4rem);
        
    }

    .news{
        grid-area: news;
    }
    .article1{
        grid-area: content1;
    }

    .article2{
        grid-area: content2;
    }

    .article3{
        grid-area: content3;
    }


    .article .content span{
        font-size: clamp(0.5rem,1.5vw,1.5rem);
    }

    .article .content h4{
        font-size: clamp(0.5rem,1.5vw,1.5rem);
    }

    .article .content p{
        font-size: clamp(0.5rem,1vw,1rem);
    }




}

